@media screen and (max-width: 775px) {
    .background-form {
        width: 300px;
        height: 550px;
    }

    .profile::before {
        width: 130px;
        height: 130px;
        left: 49%;
        margin-top: -30px;
    }

    .profile img {
        margin-top: -0%;
        left: 39%;
        height: 80px;
        width: 80px;
    }

    .mensage-logue{
        margin-top: 110%;
    }

    .txt-header-home{
        font-size: 18px;
        margin-left: 35%;
    }
    .background-home {
        margin-left: 30%;
        height: 100px;
    }
}

@media screen and (min-width: 820px) and (max-width: 1180px) {
    .profile img {
        margin-top: -2.5%;
        left: 44%;
        height: 100px;
        width: 100px;
    }

    .mensage-logue{
        margin-top: 151%;
        font-size: 15PX;
    }
}

@media screen and (min-width: 360px) and (max-width: 740px) {
    .profile img {
        margin-top: -2.5%;
        left: 39%;
        height: 80px;
        width: 80px;
    }

    .mensage-logue{
        margin-top: 117%;
        font-size: 15PX;
    }
}
